@import url('https://fonts.googleapis.com/css2?family=Hubballi&family=Montserrat:wght@500&family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hubballi&family=Montserrat:wght@100&family=Poppins:wght@200&family=Roboto:wght@100&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css');


body {
  background-color: rgb(240, 240, 240);
  line-height: 2em;
}

h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  color: rgb(100, 100, 100);
}

h2, h3 {
  color: #2c698d;
}

p {
  font-family: 'Poppins', sans-serif;
  color: rgb(50, 50, 50);
}

a {
  text-decoration: none;
  font-weight: bold;
  color: #bbd4ce;
}

a:hover {
  color: #679186;
}

.card-white {
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  padding: 32px;
}

.text-center {
  text-align: center;
}

.img-circle {
  border-radius: 50%;
  width: 100px;
}

.btn-blue {
  background-color: #2c698d;
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.btn-blue:hover {
  background-color: #679186;
  color: white;
}

.list-inline {
  list-style: none;
  padding: 0;
}

.list-inline li {
  display: inline-block;
}

.social-icon {
  font-size: 32px;
  color: rgb(220, 220, 220);
  margin: 8px 24px;
}

.container {
  width: 700px;
  margin: 40px auto;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}
